# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# env files (can opt-in for committing if needed)
.env
.env.*
!.env.example

# dependencies
node_modules

# next.js
.next
out
dist

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Next.js / Firebase build outputs
ustrix-node.js-website/.next/
ustrix-node.js-website/out/
ustrix-node.js-website/node_modules/

# Firebase local cache
ustrix-node.js-website/.firebase/
